<p>Les articles du jour</p>
<div  class="m-2"*ngFor="let e of listArticles ">
  <div *ngIf="e.categorie!='Travail'"  >
  <div class="card" style="width: 18rem;" [ngStyle]="{color: e.categorie == 'Education' ? 'blue' : 'black'}">
    <div class="card-body" >
      <h5 class="card-title">{{e.titre}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{e.contenu}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>

    </div>
  </div>
  </div>
</div>
<input [value]="somme">
